/* General Styling */
h1 {
  font-family: 'Expletus Sans', cursive, sans-serif;
  font-size: 5vw;
  letter-spacing: 5vw;
  border: 3px solid black;

  text-indent: 5vw;
  text-align: center;
  padding: 10px 0 0;
  margin: 0 auto;
}

@page {
  size: auto;
  margin: 0mm;
  text-align: center;
}


/* Container Layout Styling */
#main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 480px;
}

.aside-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
  width: 35%;
}

.canvas-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
  width: 30%;
}

.canvas-box {
  margin: 10px 0;
}

.canvas-box#warpgrid {
  width: 21vw;
  height: 18vw;
  border: 2px solid black;
}

.canvas-box#dice-box {
  width: 14vw;
  height: 6vw;
  border: 2px solid black;
}


/* Instructions Section Styling */
article#text-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border: 3px solid black;
  margin: 10px 0 15px;
}

section.text-box {
  width: 50%;
  align-items: flex-start;
}

section.text-box#left-column {
  padding: 0 8px;
}

section.text-box#right-column {
  padding: 0 8px;
}

section.text-box ol {
  padding: 0 0 0 20px;
  margin: 8px 0;
}

section.text-box li {
  font-family: 'Expletus Sans', cursive, sans-serif;
  font-size: 11px;
  margin: 0 0 2px 0;
}
